<div>
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button"
									class="navbar-toggle"
									data-toggle="collapse"
									data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#!">OBP Automation</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav pull-right">
						<li ng-class="$ctrl.isActiveTab('')"><a href="#!/releases">Releases</a></li>
						<li ng-class="$ctrl.isActiveTab('')"><a href="#!/setup">Setup</a></li>
						<!-- <li><a href="#!/dayzero">Day 0</a></li>
						<li><a href="#!/documentation">Documentation</a></li>
						<li><a href="#!/tasks">Tasks</a></li>
						<li><a href="#!/rulesCreator">Rules-Creator</a></li> -->
						<li ng-if="!$ctrl.$storage.isLoggedIn"><a href="#!/login">Login</a></li>
						<li ng-if="$ctrl.$storage.isLoggedIn"><a href="#!/userProfile">{{$ctrl.$storage.user}}</a></li>
						<li ng-if="$ctrl.$storage.isLoggedIn"><a href="" ng-click="$ctrl.logout()">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>
