<div>
  <div flex-xs flex-gt-xs="100"
        layout="row"
        class='md-padding'
        layout="row"
        layout-align="center"
        flex-offset-sm="0"
        flex-offset-md="0"
        flex-offset-lg="0"
        flex-offset-gt-lg="0">
    <md-card ng-repeat="issue in $ctrl.issues">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Issue {{issue.issueNo}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.viewPdfListener(issue.issueNo)">View as PDF</md-button>
        <!--md-button ng-click="$ctrl.viewArticlesListener(issueNo)">View Articles</md-button-->
        <md-button><a href="#!/issues/{{issue.issueNo}}">View Articles</a></md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
